<script type="text/javascript">
  window.images = {
    logo: "<%= image_url('logo.png') %>",
    ducks: "<%= image_url('ducks.png') %>",
    online: "<%= image_url('online.png') %>",
    duck: "<%= image_url('duck.png') %>",
    prof: "<%= image_url('prof.png') %>",
    batman: "<%= image_url('batman.jpg') %>",
  }
</script>


<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>
<main id="root">Did not react</main>
